
#card {
  max-width: 500px;
  max-height: 400px;
  color: #ffffff;
  margin: 30px auto 0px;
  background-color: skyblue;
}

#search {
  align-items: center;
  background-color: armygreen;
  padding: 20px;
  border-radius: 10px;
}
input {
  border: none;
  border-bottom: black solid 2px;
  border-radius: 10px;
  height: 20px;
}
input:focus {
  outline: none;
  border: none;
  border-bottom: black solid 2px;
}
button {
  cursor: pointer;
}

#output {
  margin-top: 20px;
}
